/*
* @Author: 13425
* @Date:   2018-08-17 17:11:51
* @Last Modified by:   13425
* @Last Modified time: 2018-08-18 11:05:04
*/
header{
	width: 100%;
	height: 2.5rem;
	background-image: -webkit-linear-gradient(left, #e9562a, #d75e16);
	padding: .18rem 0 0 .1rem;
}
header .container{
	height: .3rem;
	display: flex;
	justify-content: space-between;
	margin-top: .4rem;
}
header .setting{
	width: .68rem;
	height: .6rem;
	background-image: url('../img/my/setting.png');
	background-size: cover;
	background-position: center;
}
header h4{
	font-size: .4rem;
	color: #fff;
	font-weight: 600;
	text-align: center;
}
header .news{
	width: .68rem;
	height: .6rem;
	background-image: url('../img/my/xiaoxi.png');
	background-size: cover;
	background-position: center;
}
main{
	position: relative;
}
main .container{
	position: absolute;
	top: -.48rem;
	left: .24rem;
	border-radius: .1rem;
	background: #fff;
}
main .top{
	height: 2.14rem;
	border-radius: .2rem;
	box-shadow: 0 .03rem .06rem #e48059;
	display: flex;
	align-items: center;
	justify-content: center;
}
main .top img{
	width: 1.16rem;
	height: 1.24rem;
}
main .top .right{
	width: 3.12rem;
	height: 1.35rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: .5rem;
}
main .top .right h5{
	font-size: .34rem;
	font-weight: 600;
	color: #dc5c1c;
	padding-left: .6rem;
}
main .top .right h6{
	font-size: .24rem;
	font-weight: 100;
	color: #dc5c1c;
	text-align: center;
}
main ul li{
	height: 1.05rem;
	border-radius: .2rem;
	box-shadow: 0 .03rem .06rem #e48059;
	margin-top: .35rem;
	display: flex;
	align-items: center;
}
main ul li span{
	font-size: .34rem;
	font-weight: 600;
	color: #dc5c1c;
	margin-left: .63rem;
}
main ul li .get{
	width: .36rem;
	height: .47rem;
	background-image: url('../img/my/get.png');
	background-size: cover;
	margin-left: 4.44rem;
}
footer{
	width: 100%;
	height: 1.2rem;
	background: #fff;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
footer ul{
	width: 100%;
	height: 1rem;
	display: flex;
}
footer ul li{
	width: 25%;
	height: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer ul a{
	display: block;
	width: 25%;
	height: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
}
footer ul li img{
	width: .52rem;
	height: .47rem;
}
footer ul li h5{
	font-size: .20rem;
}