/*
* @Author: 13425
* @Date:   2018-08-17 15:06:43
* @Last Modified by:   13425
* @Last Modified time: 2018-08-17 16:42:14
*/
header{
	width: 100%;
	height: .91rem;
	background: #df5a1f;
	display: flex;
	align-items: center;
}
header h4{
	font-weight: 500;
	font-size: .4rem;
	color: #fff;
	text-align: center;
	line-height: .91rem;
	margin-left: 3.1rem;
}
header img{
	width: .45rem;
	height: .45rem;
	margin-left: 2.21rem;
}
main .title1{
	height: .72rem;
	background-image: url('../img/order/fujinshangjia.png');
	background-size: cover;
	margin-top: .46rem;
}
main ul{
	display: flex;
	justify-content: space-between;
}
main ul li{
	width: 2.4rem;
	height: 2.92rem;
	position: relative;
}
main ul li .hot{
	width: .87rem;
	height: .36rem;
	background-image: url('../img/order/hot.png');
	background-size: cover;
	position: absolute;
	top: .12rem;
	right: 0;
}
main ul li img{
	width: 1.97rem;
	height: 1.43rem;
	margin: .6rem .18rem 0;
}
main ul li h3{
	margin: 0;
	font-size: .24rem;
	font-weight: 300;
	text-align: center;
}
main ul li h5{
	font-size: .18rem;
	font-weight: 300;
	text-align: center;
}
main .title2{
	height: .72rem;
	background-image: url('../img/order/lishidingdan.png');
	background-size: cover;
	margin-top: .46rem;
}
main ol li{
	height: 1.92rem;
	display: flex;
}
main ol li img{
	width: 1.97rem;
	height: 1.43rem;
	margin: .49rem .18rem 0;
}
main ol li .text{
	width: 2.5rem;
	height: 1.43rem;
	margin: .49rem .34rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main ol li .text h3{
	font-size: .34rem;
	font-weight: 600;
}
main ol li .text h4{
	font-size: .34rem;
	font-weight: 600;
	color: #e0581f;
}
main ol li .bot{
	width: 1.58rem;
	height: 1.43rem;
	margin: .49rem .34rem 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}	
main ol li .bot1{
	width: 1.58rem;
	height: .51rem;
	border-radius: .3rem;
	background: #e0581f;
	font-size: .24rem;
	color: #fff;
	text-align: center;
	line-height: .51rem;
}
main ol li .bot2{
	width: 1.58rem;
	height: .51rem;
	border-radius: .3rem;
	background: #e0581f;
	font-size: .24rem;
	color: #fff;
	text-align: center;
	line-height: .51rem;
}
footer{
	width: 100%;
	height: 1.2rem;
	background: #fff;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
footer ul{
	width: 100%;
	height: 1rem;
	display: flex;
}
footer ul li{
	width: 25%;
	height: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer ul a{
	display: block;
	width: 25%;
	height: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000;
}
footer ul li img{
	width: .52rem;
	height: .47rem;
}
footer ul li h5{
	font-size: .20rem;
}