/*
* @Author: 13425
* @Date:   2018-08-15 14:03:30
* @Last Modified by:   13425
* @Last Modified time: 2018-08-17 10:47:28
*/
body{
	background-image: url('../img/sign/back.png');
}
.enroll{
	width: 2.17rem;
	height: .78rem;
	border-radius: .4rem;
	background: rgba(255, 255, 255, .5);
	color: #dc5c1c;
	font-size: .34rem;
	text-align: center;
	line-height: .78rem;
	margin-top: .56rem;
	margin-left: 4.91rem;
}
i img{
	margin-top: .97rem;
	margin-left: 2.6rem;
}
h1{
	font-size: .34rem;
	color: #fff;
	text-align: center;
	font-weight: 600;
}
.user{
	width: 6.3rem;
	height: 1.35rem;
	border-radius: .7rem;
	margin: .75rem .6rem 0;
	background: rgba(255, 255, 255, .5);
	display: flex;
	align-items: center;
}
.user input{
	width: 3.12rem;
	height: .55rem;
	background: none;
	border: none;
	margin-left: .3rem;
	border-bottom: .01rem solid #fff;
	outline: none;
}
.user input::-webkit-input-placeholder{
	font-size: .34rem;
	color: #fff;
	line-height: .52rem;
}
.user img{
	width: .76rem;
	height: .74rem;
	margin-left: .33rem;
}
.pass{
	width: 6.3rem;
	height: 1.35rem;
	border-radius: .7rem;
	margin: .75rem .6rem 0;
	background: rgba(255, 255, 255, .5);
	display: flex;
	align-items: center;
}
.pass input{
	width: 3.12rem;
	height: .55rem;
	background: none;
	border: none;
	margin-left: .3rem;
	border-bottom: .01rem solid #fff;
	outline: none;
}
.pass input::-webkit-input-placeholder{
	font-size: .34rem;
	color: #fff;
	line-height: .52rem;
}
.pass img{
	width: .76rem;
	height: .74rem;
	margin-left: .33rem;
	margin-top: 0;
}
.forget{
	width: 2.11rem;
	height: .47rem;
	border-radius: .24rem;
	background: rgba(255, 255, 255, .5);
	color: #dc5c1c;
	font-size: .24rem;
	margin-left: .6rem;
	text-align: center;
	line-height: .47rem;
	margin-top: .15rem;
}
.sign{
	width: 2.17rem;
	height: .78rem;
	border-radius: .4rem;
	background: rgba(255, 255, 255, .5);
	color: #dc5c1c;
	font-size: .34rem;
	text-align: center;
	line-height: .78rem;
	margin: .4rem 2.49rem 0;
}
.qq{
	width: 1rem;
	height: 1rem;
	border-radius: .5rem;
	background-image: url('../img/sign/QQ_29.png');
	background-size: cover;
	float: left;
	margin-top: .42rem;
	margin-left: 1.49rem;
}
.weixin{
	width: 1rem;
	height: 1rem;
	border-radius: .5rem;
	background-image: url('../img/sign/weixin.png');
	background-size: cover;
	float: right;
	margin-top: .42rem;
	margin-right: 1.49rem;
}